@import "../core-style/core";
.page {
    margin: 0;
    font-family: $fonts-progect;
    background-color: #f3f3f3;
}
.container {
}
.layout {
    width: 90%;
    margin: 0 auto;
}
.description {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

		&__title {
            font-size: 48px;
		}

		&__subtitle {
            font-size: 20px;
		}

		&__button-link {
            font-size: 20px;
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid $color-primary;
            color: black;
            text-decoration: none;
		}
}
@media (max-width: $tablet + px) {
    .subtitle {
        @include calculate-size(font-size, 20, 16, $tablet);
    }
    .title {
        @include calculate-size(font-size, 48, 30, $tablet);
    }
}
