@import "../core-style/core";

.page {
    margin: 0;
    font-family: $fonts-progect;
    background-color: #f3f3f3;
}
.route {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
    &__layout {
        max-width: 500px;
    }

    &__title {
        text-align: center;
        font-size: 48px;
    }

}
.route-button {
    display: flex;
    justify-content: center;
    &__link-button {
        box-sizing: border-box;
        text-decoration: none;
        color: black;
        font-size: 20px;
        display: inline-block;
        border: 1px solid $color-primary;
        padding: 10px 20px;
        margin-right: 20px;
        
    }
}
@media (max-width: $tablet + px) {
   .title {
      @include calculate-size(font-size, 48, 32, $tablet);
   }
}
